body{
    background-color: blue;
}
.tartalom{
    width: 1500px;
    height: 500px;
    background-color: lightblue;
    border: 2px solid grey;
    margin: auto;
    
}
.menu{
    background-color: blue;
    height: 50px;
    width: 1450px;
    margin: auto;
    color: yellow;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
}
a{
    color: yellow;
    text-decoration: none;
}
.cim{
    text-align: center;
}
form{
    display: flex;
    justify-content: center;
}
input[type=text]{
    width: 100%;
}