body{
    font-family: 'Muli-Light', sans-serif;
    font-size: 18px;
}
h1{
    font-family: 'Muli-ExtraBold';
}
h2{
    font-family: 'Muli-ExtraBold';
}
h3{
    font-family: 'Muli-ExtraBold';
}
h4{
    font-family: 'Muli-ExtraBold';
}
.fejlec-kep{
    background-image: url("kepek/tesztauzem-fejlec.jpg"); 
    background-size: cover;
    height: 500px;
    color: white;
    text-align: center;
}
#tesztauzem-kep{
    max-width: 95%;
}
.display-4{
    font-size: 54px;
}
.akcio{
    background-color: #d6c5c5;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 700;
}